*.safetensors
*~
*.o
*.bin
*build*/
./models/
.vscode
*.un~
# Byte-compiled / optimized / DLL files
__pycache__/
.vscode
.idea
./translation
.cache
*.npy
*.pth
tests/**/*
!tests/**/
!tests/**/*.py
!tests/**/*.cu
!tests/**/*.h
!tests/**/*.cc
!tests/**/CMakeLists.txt
!tests/data/**/*.npy
/models
/notebooks
/sdpy/sdxl
**/.ipynb_checkpoints/
*.npy
/3rdparty/NeMo/
/3rdparty/apex/
*.ncu-rep
*.onnx
# *.png
./diffusers
.hypothesis
diffusers
diffusersbk
sd_xl_base/
*.nsys*
*cached*
helloworld/
rev_animated/
dist/
lyradiff.egg-info/
lyradiff/lib/libth_lyradiff.so